force-app/main/default/flows/Water_Compliance_Aggregation_for_Water_Footprint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_value</name>
        <label>add value</label>
        <locationX>675</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>totalValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_compliance_incident.Financial_value_of_penalty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_compliance_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_compliance_section_of_water_footprint</name>
        <label>update compliance section of water footprint</label>
        <locationX>773</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>get_water_footprint.Total_value_of_fines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_water_footprint</targetReference>
        </connector>
    </assignments>
    <description>Sums up all related Water Compliance data for the totals on Water Footprint. Part of the Sustainability Water package.</description>
    <interviewLabel>Water Compliance Aggregation for Water Footprint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Water Compliance Aggregation for Water Footprint</label>
    <loops>
        <name>loop_through_compliance_items</name>
        <label>loop through compliance items</label>
        <locationX>598</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>loopVarWFCI</assignNextValueToReference>
        <collectionReference>get_compliance_report_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_compliance_incident</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_compliance_section_of_water_footprint</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_compliance_incident</name>
        <label>get compliance incident</label>
        <locationX>517</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_value</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopVarWFCI.Water_Compliance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Water_Compliance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_compliance_report_items</name>
        <label>get compliance report items</label>
        <locationX>427</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_compliance_items</targetReference>
        </connector>
        <filters>
            <field>Water_Footprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WFrecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Water_Compliance_Report_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_water_footprint</name>
        <label>get water footprint</label>
        <locationX>258</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_compliance_report_items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WFrecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Water_Footprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_water_footprint</name>
        <label>update water footprint</label>
        <locationX>935</locationX>
        <locationY>42</locationY>
        <inputReference>get_water_footprint</inputReference>
    </recordUpdates>
    <start>
        <locationX>55</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_water_footprint</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopVarWFCI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Water_Compliance_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>totalValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WFrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
