force-app/main/default/flows/Water_Use_Aggregation_for_Water_Footprint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_totals_to_calcwf</name>
        <label>add totals to calcwf</label>
        <locationX>791</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>calcWF.Total_Surface_Water_Withdrawal_ML__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_water_use_record.Surface_Withdrawal_total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Groundwater_Withdrawal_ML__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_water_use_record.Groundwater_Withdrawal_total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Seawater_Withdrawal_ML__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_water_use_record.Seawater_Withdrawal_total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Produced_Water_Withdrawal_ML__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_water_use_record.Produced_Withdrawal_total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Third_party_Water_Withdrawal_ML__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_water_use_record.Third_party_Withdrawal_total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Water_Discharge_ML__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_water_use_record.Total_Water_Discharge_ML__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Change_in_Water_Storage_ML__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_water_use_record.Change_in_Water_Storage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_report_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_WF_with_new_totals</name>
        <label>Update WF with new totals</label>
        <locationX>861</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>get_water_footprint_record.Total_Surface_Water_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcWF.Total_Surface_Water_Withdrawal_ML__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_water_footprint_record.Total_Groundwater_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcWF.Total_Groundwater_Withdrawal_ML__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_water_footprint_record.Total_Seawater_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcWF.Total_Seawater_Withdrawal_ML__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_water_footprint_record.Total_Produced_Water_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcWF.Total_Produced_Water_Withdrawal_ML__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_water_footprint_record.Total_Third_party_Water_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcWF.Total_Third_party_Water_Withdrawal_ML__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_water_footprint_record.Total_Water_Discharge_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcWF.Total_Water_Discharge_ML__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_water_footprint_record.Total_Change_in_Water_Storage_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcWF.Total_Change_in_Water_Storage_ML__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Write_WF_values_to_db</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>zero_out_calcWF</name>
        <label>zero out calcWF</label>
        <locationX>540</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>calcWF.Total_Surface_Water_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Groundwater_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Seawater_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Produced_Water_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Third_party_Water_Withdrawal_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Water_Discharge_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calcWF.Total_Change_in_Water_Storage_ML__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_report_items</targetReference>
        </connector>
    </assignments>
    <description>Sums up all related Water Use data for the totals on Water Footprint</description>
    <interviewLabel>Water Use Aggregation for Water Footprint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Water Use Aggregation for Water Footprint</label>
    <loops>
        <name>loop_through_report_items</name>
        <label>loop through report items</label>
        <locationX>669</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>loopvarWFRI</assignNextValueToReference>
        <collectionReference>get_all_wf_report_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_water_use_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WF_with_new_totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_wf_report_items</name>
        <label>get all wf report items</label>
        <locationX>424</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>zero_out_calcWF</targetReference>
        </connector>
        <filters>
            <field>Water_Footprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WFrecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Water_Footprint_Report_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_water_footprint_record</name>
        <label>get water footprint record</label>
        <locationX>296</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_wf_report_items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WFrecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Water_Footprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_water_use_record</name>
        <label>get water use record</label>
        <locationX>545</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_totals_to_calcwf</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopvarWFRI.Water_Use_Record__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Water_Use__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Write_WF_values_to_db</name>
        <label>Write WF values to db</label>
        <locationX>999</locationX>
        <locationY>52</locationY>
        <inputReference>get_water_footprint_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_water_footprint_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>calcWF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Water_Footprint__c</objectType>
    </variables>
    <variables>
        <name>loopvarWFRI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Water_Footprint_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>WFrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
