force-app/main/default/flows/X1_sustain_water_compliance_roll_up_helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>1 sustain water compliance roll up helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1 sustain water compliance roll up helper</label>
    <loops>
        <name>loop_through_compliance_items</name>
        <label>loop through compliance items</label>
        <locationX>519</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>lvCompItem</assignNextValueToReference>
        <collectionReference>list_all_compliance_report_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>send_to_calculator</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_water_compliance_record</name>
        <label>get water compliance record</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>list_all_compliance_report_items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Water_Compliance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>list_all_compliance_report_items</name>
        <label>list all compliance report items</label>
        <locationX>365</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_compliance_items</targetReference>
        </connector>
        <filters>
            <field>Water_Compliance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Water_Compliance_Report_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_water_compliance_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>send_to_calculator</name>
        <label>send to calculator</label>
        <locationX>519</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>loop_through_compliance_items</targetReference>
        </connector>
        <flowName>X1_sustain_water_compliance_calcs</flowName>
        <inputAssignments>
            <name>WFrecordId</name>
            <value>
                <elementReference>lvCompItem.Water_Footprint__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>lvCompItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Water_Compliance_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
