force-app/main/default/flows/X1_Sustain_Water_Calc_roll_up_from_Water_Use.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>1 Sustain Water Calc roll up from Water Use {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1 Sustain Water Use roll up helper</label>
    <loops>
        <name>loop_through_water_footprints</name>
        <label>loop through water footprints</label>
        <locationX>640</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>loopVarWFRI</assignNextValueToReference>
        <collectionReference>get_all_water_footprint_report_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>send_each_water_footprint_for_calculation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_water_footprint_report_items</name>
        <label>get all water footprint report items</label>
        <locationX>415</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_water_footprints</targetReference>
        </connector>
        <filters>
            <field>Water_Use_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Water_Footprint_Report_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Water_Use_record</name>
        <label>get Water Use record</label>
        <locationX>279</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_water_footprint_report_items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Water_Use__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>get_Water_Use_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>send_each_water_footprint_for_calculation</name>
        <label>send each water footprint for calculation</label>
        <locationX>642</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>loop_through_water_footprints</targetReference>
        </connector>
        <flowName>X1_Sustain_Water_Sums_Single_Record</flowName>
        <inputAssignments>
            <name>WFrecordId</name>
            <value>
                <elementReference>loopVarWFRI.Water_Footprint__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>loopVarWFRI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Water_Footprint_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
